.user,.nonuser{
  display:flex;
}

.mainUL{
  display:flex;
  justify-content: space-between;
  width:100%
}

.App{
  min-height: 100vh;
  background-color: #35589A;
  
}

.myNav{
  background-color: #122a5a;
  color:white
}

.display-1,.display-2,.display-3,.display-4{
  color:rgb(39, 4, 4);
}

a.emailLink{
  color:red
}

.sub{
  color:rgb(179, 194, 206);
}